h1 {
  font-family: Arial, sans-serif;
  font-weight: normal;
}

h2 {
  font-family: Arial, sans-serif;
  font-weight: normal;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: white;
  text-decoration: underline;
  text-underline-position: under;
}

.boxes {
  position: relative;
}

.boxes-text {
  position: absolute;
  color: #ffffff;
  text-align: center;
}

@media all and (min-width: 1024px) and (max-width: 1440px) {
  body {
    height: 900px;
  }

  h1 {
    font-size: 3.34vw;
  }

  h2 {
    font-size: 1.7vw;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 26vh auto 0 auto;
    width: 79.1vw;
  }

  .boxes {
    width: 25vw;
    height: 25vw;
    position: relative;
  }

  .boxes-text {
    position: absolute;
    color: #ffffff;
    width: 25vw;
    height: 25vw;
    text-align: center;
  }

  .box-1 {
    background-color: #b0b0b0;
  }

  .box-2 {
    background-color: #787878;
  }

  .text-1 {
    top: 35%;
    text-shadow: 3px 3px #787878;
  }

  .text-2 {
    text-shadow: 3px 3px #5c5c5c;
    position: relative;
  }

  .text-2-bottom {
    position: absolute;
    top: 50%;
    left: 5.5%;
    width: 90%;
  }

  .text-2-yellow {
    color: #ffd800;
  }

  .text-3 {
    text-shadow: 3px 3px #8d8d8e;
  }

  .text-3 {
    top: 30%;
  }

  .img-mobile-box-3 {
    display: none;
  }
}

@media all and (min-width: 415px) and (max-width: 1023px) {
  body {
    height: 1024px;
  }

  h1 {
    font-size: 6.3vw;
  }

  h2 {
    font-size: 21.97px;
    font-size: 2.8vw;
  }

  a {
    font-size: 22.03px;
    font-size: 2.89vw;
  }

  .box-2-title {
    font-size: 5.7vw;
  }

  .box-3-title {
    font-size: 44.07px;
    font-size: 5.75vw;
  }

  .container {
    width: 89vw;
    margin: 26vh auto 0 auto;
  }

  .box-1 {
    width: 89vw;
    height: 45.5vw;
    background-color: #b0b0b0;
  }

  .img-mobile-box-3 {
    display: none;
  }

  .box-2 {
    width: 42.6vw;
    height: 42.6vw;
    background-color: #006a96;
    display: inline-block;
    top: -29.5vw;
  }

  .box-3 {
    width: 42.6vw;
    height: 42.6vw;
    display: inline-block;
    top: 3.9vw;
    left: 3.3vw;
  }

  .text-1 {
    top: 40%;
    left: 40%;
    text-shadow: 3px 3px #787878;
  }

  .text-2 {
    top: 5%;
    text-shadow: 3px 3px #5c5c5c;
    position: relative;
  }

  .text-2-bottom {
    position: absolute;
    top: 300%;
    left: 8%;
    width: 85%;
    height: 40%;
  }

  .text-2-yellow {
    color: #ffd800;
  }

  .text-3 {
    text-shadow: 3px 3px #8d8d8e;
  }

  .text-3 {
    top: 32%;
    left: 30%;
  }
}

@media all and (min-width: 1px) and (max-width: 414px) {
  body {
    height: 736px;
  }

  h1 {
    font-size: 11.6vw;
  }

  h2 {
    font-size: 5.31vw;
  }

  a {
    font-size: 5.33vw;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 26vh;
  }

  .box-1 {
    width: 100vw;
    height: 86.9vw;
    background-color: #b0b0b0;
    order: 1;
    margin-bottom: 14.9vw;
  }

  .box-2 {
    width: 92.7%;
    height: 79.4vw;
    background-color: #787878;
    order: 3;
  }

  .box-3 {
    width: 92.7vw;
    height: 119.7vw;
    order: 2;
    margin-bottom: 14.9vw;
  }

  .img-desktop-box-3 {
    display: none;
  }

  .text-1 {
    top: 35%;
    left: 32%;
    text-shadow: 3px 3px #787878;
  }

  .text-2 {
    top: 5%;
    text-shadow: 3px 3px #5c5c5c;
    position: relative;
  }

  .text-2-bottom {
    position: absolute;
    top: 280%;
    left: 1%;
  }

  .text-2-yellow {
    color: #ffd800;
  }

  .text-3 {
    text-shadow: 3px 3px #8d8d8e;
  }

  .text-3 {
    top: 70%;
    left: 30%;
    line-height: 0.5;
  }

  .box-3-title {
    font-size: 10.65vw;
  }
}
